.hero-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(147, 197, 253, 0.5),
    transparent 80%,
    transparent 80%,
    rgba(147, 197, 253, 0.5)
  );
  border-radius: 16px;
  z-index: -1;
}
